.banner {
  height: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
.banner--text {
  width: 40%;
  padding: 70px;
}
.banner--text p {
  margin-top: 16px;
}
.banner--text span {
  font-size: 46px;
  font-weight: bold;
}
